<header>
  <div class="header-left">
    <button type="button" class="js-menu-trigger sliding-panel-button">Menu</button>
  </div>
  <nav class="js-menu sliding-panel-content">
    <ul>
      <li><a href="javascript:void(0)">Watches</a></li>
      <li><a href="javascript:void(0)">Watch Bands</a></li>
      <li><a href="javascript:void(0)">Search</a></li>
      <li><a href="javascript:void(0)">Contact Us</a></li>
      <li><a href="javascript:void(0)">Sign In/Up</a></li>
    </ul>
  </nav>
  <div class="js-menu-screen sliding-panel-fade-screen"></div>
  <div class="header-right">
    <div class="modal">
      <label for="modal-1">
        <div class="modal-trigger">Shopping Cart <!-- <span class="badge-alert">0</span> --></div>
      </label>
      <input class="modal-state" id="modal-1" type="checkbox" />
      <div class="modal-fade-screen">
        <div class="modal-inner">
          <div class="modal-close" for="modal-1"></div>
          <h1>Modal Title</h1>
          <p class="modal-intro">Intro text lorem ipsum dolor sit ametm, quas, eaque facilis aliquid cupiditate tempora cumque ipsum accusantium illo modi commodi  minima.</p>
          <p class="modal-content">Body text lorem ipsum dolor ipsum dolor sit sit possimus amet, consectetur adipisicing elit. Itaque, placeat, explicabo, veniam quos aperiam molestias eriam molestias molestiae suscipit ipsum enim quasi sit possimus quod atque nobis voluptas earum odit accusamus quibusdam. Body text lorem ipsum dolor ipsum dolor sit sit possimus amet.</p>
        </div>
      </div>
    </div>
  </div>
  

</header>
  


